plugins: ["mocha"]
globals:
  describe: false
  beforeEach: false
  afterEach: false
  inject: false
  easyInject: false
  sandbox: false
  helpers: false
  it: false
  request: false
  helpers: false
  agent: false
  expect: false
  api: false
  sinon: false

rules:
  handle-callback-err: [0]
  # because of chai
  no-unused-expressions: [0]
  mocha/no-exclusive-tests: 2
  no-undefined: 0
