extends layout

block content
  section(ng-controller="index")
    .row
      .well.col-sm-4.col-md-3
        .input-group
          input(ng-model="til" name="til" create-til placeholder="today I learned...").form-control
      til-list(tils="tils").col-sm-8.col-md-5

