doctype html

html(ng-app='til')
  head
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    title TIL: #{title}
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    .container
      header.row
        h1
          kbd TIL
      block content
      block js:vendor
        script(src='/js/vendor.js')
      block js:app
        script(src='/js/app.js')
