doctype html

html(ng-app='til')
  head
    title TIL: What have you learned today?
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.css")
  body
    .container
      header.row
        h1
          kbd TIL
      include index.html
    script(src='/js/app.js')
