doctype html

html(ng-app='til')
  head
    title TIL: #{title}
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.css")
  body
    .container
      header.row
        h1
          kbd TIL
      block content
    script(src='/js/app.js')
