<div  ng-repeat="til in tils() | orderBy:'-timestamp' track by til.clientId" class="panel panel-info" ng-class="{'panel-warning': til.errors}">
  <header class="panel-heading">
    <h3 class="panel-title">{{til.text}} - {{til.user.displayName}}</h3>
  </header>
  <section class="panel-body">
    <div class="errors">
      <small ng-repeat="error in til.errors">{{error.message}}</small>
    </div>
    <section class="panel-footer">
      <h5>Comments</h5>
      <article ng-repeat="comment in til.comments"> <p>{{comment.text}}<small> - {{comment.user.displayName}}</small></p></article>
      <input type="text" placeholder="reply" ng-keydown="addComment($event, til)">
    </section>
  </section>
</div>
